@{
    ViewBag.Title = "User details";
}

<div class="jumbotron">
    <h1>Test</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User details</h2>


    @using (Html.BeginForm())
    {
        @Html.TextBox("Name");
        @Html.Password("Password");
        <input type="submit" value="Sign In">
    }



    </div>
</div>